.social__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--white-link-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover .social__icon,
    &:focus .social__icon{
      background-color: var(--accent-color);
      fill: var(--white-link-color);
    }
    &:hover,
    &:focus{
      background-color: var(--accent-color);
       
    }
    
}
.social {
  display: flex;
  justify-content: center;
}
.social__item + .social__item {
  margin-left: 10px;
}
.social__icon {
  fill: var(--icon-fill);
}
.footer .social__icon{
  fill: var(--white-link-color);
}

// 


